@model IEnumerable<KlubSosnowy.Models.ViewModel.UsersRolesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Users Roles</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>Zmien role</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a href="@Url.Action("ZmienRole",new {id=item.IdUser})" type="button" class="btn-primary btn">Zmien/Dodaj Role</a>
            </td>
        </tr>
    }

</table>