@model List<KlubSosnowy.Models.ViewModel.ZamowieniaKlient>

@{
    ViewBag.Title = "Zamowione potrawy przez klientow";

}

<h2>Zamow Potrawy</h2>
@using (Html.BeginForm("PokazMojeZamowienia", "MenagerZamowien"))
{
    <center> @Html.CheckBox("Zrealizowane", (bool)ViewBag.CzyZrealizowane, new { onchange = "this.form.submit()" }) </center>
}
<table class="table">
    <tr>
        <th>
            Nazwa Klienta
        </th>
        <th>
            IdZamowienia
        </th>
        <th>
            DataZamowienia
        </th>
        <th>
            Data Realizacji
        </th>
        <th>
            Czy Zrealizowane
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.NazwaKlienta
            </td>
            <td>
                @item.IdZamowienia
            </td>
            <td>
                @item.DataDodania
            </td>
            <td>
                @item.DataRealizacji
            </td>
            <td>
                @{var czyZ = (item.CzyZrealizowane ? "Tak" : "Nie");} @Html.DisplayFor(modelItem => czyZ)
            </td>
            <td>
                <a href="@Url.Action("SzczegolyWszyscy","MenagerZamowien",new {id=item.IdZamowienia})" type="button" class="btn-primary btn">Pokaz szczegoly Zamowienia</a>
            </td>
        </tr>
    }
</table>