@model IEnumerable<KlubSosnowy.Models.Potrawy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPotrawy }, new { @class = "btn-primary btn" }) |
            @Html.ActionLink("EdytujPotrawe", "EdytujPotrawe", new { id=item.IdPotrawy }, new { @class = "btn-success btn" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPotrawy }, new { @class = "btn-primary btn" })
        </td>
    </tr>
}

</table>
