@model List<KlubSosnowy.Models.ViewModel.PotrawyZamowieniaViewModel>

@{
    ViewBag.Title = "Zamow Potrawy";

}

<h2>Zamow Potrawy</h2>

<table class="table">
    <tr>
        <th>
            IdPotrawy_skladnika
        </th>
        <th>
            NazwaSkladnika
        </th>
        <th>
            Cena
        </th>
        <th>
            Ilosc
        </th>
        <th>
            Suma
        </th>
    </tr>
    @using (Html.BeginForm("Wyslij", "Zamowienia", FormMethod.Post))
    {
        for (var i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>
                    @Html.Hidden($"potrawyZamowienia[{@i}].IdPotrawy", Model[i].IdPotrawy.ToString())
                    @Html.Hidden($"potrawyZamowienia[{@i}].Nazwa", Model[i].Nazwa)
                    @Html.Hidden($"potrawyZamowienia[{@i}].Cena", Model[i].Cena, new { @class = "cena" + Model[i].IdPotrawy.ToString() })

                    @Html.Label(Model[i].IdPotrawy.ToString(), new { id = $"listaZamowionychPotraw[{@i}].IdPotrawy" })
                </td>
                <td>
                    @Html.Label(Model[i].Nazwa, new { id = Model[i].Nazwa })
                </td>
                <td>
                    @Html.Raw(Model[i].Cena)
                </td>
                <td>
                    @Html.TextBox("potrawyZamowienia[" + @i + "].Ilosc", Model[i].Ilosc, new { @class = "ilosc", id = "ilosc" + Model[i].IdPotrawy.ToString() })
                </td>
                <td>
                    @Html.Label(Model[i].KwotaRazem.ToString(), new { id = Model[i].KwotaRazem, @class = "kwotaRazem" + Model[i].IdPotrawy.ToString() })
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                Suma wszystkich pozycji:
            </td>
            <td id="suma">
            </td>
        </tr>
        <tr>
            <td>
                <input asp-for="BestellungsDatum" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" name="date"/>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="submit" value="Submit" class="btn-primary btn"/>
            </td>
        </tr>
    }
</table>
<script>
    //obliczKwote();
$(".ilosc").on("change", function () {
        obliczKwote();
    });
    function obliczKwote() {
        var suma = 0;
        var model =@Html.Raw(Json.Encode(Model));
        console.log(model);
        for(var i = 0; i < model.length; i++) {
            var ile = parseFloat($("#ilosc" + model[i].IdPotrawy).val());
            var cena = parseFloat($(".cena" + model[i].IdPotrawy).val());
            console.log(ile);
            console.log(cena);
            var razem = ile * cena;
            suma += razem;
            $("#suma").html(suma);
            $(".kwotaRazem" + model[i].IdPotrawy).html(razem);
        }
    }
</script>